["1", ["mehl", 70.0, "g"], ["zucker", 150.0, "g"], ["Salz", 4.0, "g"], ["Vitamin", 1.5, "pills"], ["sonnenblumen\u00f6l", 30.0, "ml"], ["erbsenprotein", 50.0, "g"], ["haferflocken", 150.0, "g"], ["sojaflocken", 110.0, "g"]]